In [1]:
dict = {'Name':'Sachin','Age':43,'City':'Bangalore','Country':'India'}
dict

{'Age': 43, 'City': 'Bangalore', 'Country': 'India', 'Name': 'Sachin'}

In [2]:
list(dict.keys())

['Name', 'Age', 'City', 'Country']

In [3]:
list(dict.values())

['Sachin', 43, 'Bangalore', 'India']

In [4]:
dict['Gender']='Male'

In [5]:
list(dict.values())

['Sachin', 43, 'Bangalore', 'India', 'Male']

In [6]:
del dict['Gender']
list(dict.values())

['Sachin', 43, 'Bangalore', 'India']

In [10]:
dict.get('Age')

43

In [11]:
dict.pop('Age')

43

In [12]:
list(dict.values())

['Sachin', 'Bangalore', 'India']

In [13]:
len(dict)

3

In [16]:
print('Name' in dict)

True

In [17]:
list(dict.items())

[('Name', 'Sachin'), ('City', 'Bangalore'), ('Country', 'India')]

In [19]:
list(dict.fromkeys('Name'))

['N', 'a', 'm', 'e']

In [21]:
string1 = 'I love Python Programming'

In [22]:
string1[0]

'I'

In [23]:
len(string1)

25

In [24]:
string1.strip()

'I love Python Programming'

In [25]:
list(enumerate(string1))

[(0, 'I'),
 (1, ' '),
 (2, 'l'),
 (3, 'o'),
 (4, 'v'),
 (5, 'e'),
 (6, ' '),
 (7, 'P'),
 (8, 'y'),
 (9, 't'),
 (10, 'h'),
 (11, 'o'),
 (12, 'n'),
 (13, ' '),
 (14, 'P'),
 (15, 'r'),
 (16, 'o'),
 (17, 'g'),
 (18, 'r'),
 (19, 'a'),
 (20, 'm'),
 (21, 'm'),
 (22, 'i'),
 (23, 'n'),
 (24, 'g')]

In [26]:
string1[7:13]

'Python'

In [27]:
string1.replace('P','XXX')

'I love XXXython XXXrogramming'

In [28]:
string1.replace('XXX','P')

'I love Python Programming'

In [29]:
string1.lower()

'i love python programming'

In [30]:
string1.upper()

'I LOVE PYTHON PROGRAMMING'

In [35]:
string1.rstrip()

'I love Python Programming'

In [36]:
string1.lstrip()

'I love Python Programming'

In [42]:
from string import whitespace
string1.replace(" ","")

'IlovePythonProgramming'

In [45]:
string1.split()

['I', 'love', 'Python', 'Programming']

In [54]:
import numpy as np
list1 = [9,8,7,6,5,4,3,2,1]
list2 = [1,2,3,4,5,6,7,8,9]

In [57]:
out = list(map(lambda x,y:x//y,list1,list2 ))
out

[9, 4, 2, 1, 1, 0, 0, 0, 0]

In [65]:
from functools import reduce
out1 = reduce(lambda x,y:x/y,list1)
out1

0.0002232142857142857

In [66]:
out1 = reduce(lambda x,y:x//y,list1)
out1

0

In [67]:
out1 = reduce(lambda x,y:x+y,list1)
out1

45

In [69]:
out1 = reduce(lambda x,y:x+y,list2)
out1

45

In [72]:
out = list(filter(lambda x:x > 5,list1))
out

[9, 8, 7, 6]

In [74]:
import math
out = list(map(lambda x: math.log(x),list1))
out

[2.1972245773362196,
 2.0794415416798357,
 1.9459101490553132,
 1.791759469228055,
 1.6094379124341003,
 1.3862943611198906,
 1.0986122886681098,
 0.6931471805599453,
 0.0]

In [75]:
out2 = list(filter(lambda x: x<2,out))
out2

[1.9459101490553132,
 1.791759469228055,
 1.6094379124341003,
 1.3862943611198906,
 1.0986122886681098,
 0.6931471805599453,
 0.0]

In [79]:
import math
out = list(map(lambda x: x%3,list1))
out

[0, 2, 1, 0, 2, 1, 0, 2, 1]

In [81]:
out = list(map(lambda x,y: x/y,list1,list2))
out

[9.0,
 4.0,
 2.3333333333333335,
 1.5,
 1.0,
 0.6666666666666666,
 0.42857142857142855,
 0.25,
 0.1111111111111111]

In [82]:
#prime number
out = list(filter(lambda x:all(x % y != 0 for y in range(2, x)), list1))
out

[7, 5, 3, 2, 1]

In [83]:
print (reduce(lambda x,y : x if x > y else y,list1))  # highest number in list

9

In [17]:
from functools import reduce
x = range(0,101)


out = reduce(lambda x,y: x+y,range(0,101))
out

5050