# List functions and operations

In [44]:
# Import the numpy library
# np is simply an alias, you may use any other alias, though np is quite standard
import numpy as np
import math
from functools import reduce

In [45]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [1,2,3,4,5,6,7,8,9,10]

In [46]:
l1[4:7]

[5, 6, 7]

In [47]:
z = list(map(lambda X : X**2, l1))
z

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
z = list(map(lambda X,Y:X+Y, l1,l2))
z

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [51]:
z = list(map(lambda X,Y :log(X+Y), l1,l2))
z

NameError: name 'log' is not defined

In [50]:
# Filter
less_than_zero = list(filter(lambda x: x < 6, l1))
less_than_zero

[1, 2, 3, 4, 5]

# Dictionary functions and operations

In [41]:
# create a dictionary

dict1 = {'name':'sachin','age':43,'country':'india','language':'Hindi'}
dict1

{'age': 43, 'country': 'india', 'language': 'Hindi', 'name': 'sachin'}

In [47]:
print(list(dict1.keys()))

['name', 'age', 'country', 'language']

In [48]:
print(list(dict1.values()))

['sachin', 43, 'india', 'Hindi']

In [49]:
dict1['age'] = 53

In [50]:
dict1

{'age': 53, 'country': 'india', 'language': 'Hindi', 'name': 'sachin'}

In [51]:
#add a key, val
dict1['Profession'] = 'Singer'
print(dict1)

{'name': 'sachin', 'age': 53, 'country': 'india', 'language': 'Hindi', 'Profession': 'Singer'}

In [53]:
print('age' in dict1)

True

In [54]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [56]:
students_data[1]

['Shivam Bansal', 24]

In [62]:
if 6 not in students_data:
    print("Six not found")

Six not found

In [63]:
print(len(students_data))

5

# 4.3. Reduce
#Reduce is a really useful function for performing some computation on a list and returning the result. It applies a rolling #computation to sequential pairs of values in a list. For example, if you wanted to compute the product of a list of integers.

In [52]:
product = reduce((lambda x,y: x * y), l1)
product

3628800

In [56]:
print (reduce(lambda x,y : x if x > y else y,l1))  # highest number in list

10

# Sets: set is a really useful data structure. sets behave mostly like lists with the distinction that they can not contain duplicate values. It is really useful in a lot of cases. For instance you might want to check whether there are duplicates in a list or not. You have two options. The first one involves using a for loop. Something like this:

In [53]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']
duplicates = set([x for x in some_list if some_list.count(x) > 1])
print(duplicates)
# Output: set(['b', 'n'])

{'b', 'n'}

In [54]:
valid = set(['yellow', 'red', 'blue', 'green', 'black'])
input_set = set(['red', 'brown'])
print(input_set.intersection(valid))
# Output: set(['red'])

{'red'}

In [55]:
valid = set(['yellow', 'red', 'blue', 'green', 'black'])
input_set = set(['red', 'brown'])
print(input_set.difference(valid))
# Output: set(['brown'])

{'brown'}